<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>90536326139-l0r6aqunljd67amh051qeceae1uc9big.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.90536326139-l0r6aqunljd67amh051qeceae1uc9big</string>
	<key>API_KEY</key>
	<string>AIzaSyAXOkPwvk8yHguGUyOfV9akQqtKZ400MMw</string>
	<key>GCM_SENDER_ID</key>
	<string>90536326139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Stockly.Stockly</string>
	<key>PROJECT_ID</key>
	<string>stockly-6e29e</string>
	<key>STORAGE_BUCKET</key>
	<string>stockly-6e29e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:90536326139:ios:120a3e96792b1ef5a9115e</string>
</dict>
</plist>